<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <nav class="navigation-bar">
    <!-- <img class="logo" src="img/t.jpg"> -->
    <input type="text" placeholder="  Search for Products , Brands and More . . .">
    <button class="a1"><a href="clogin.html">Customer Login</a></button>
    <button class="a1"><a href="alogin.html">Admin Login</a></button>
    <form action="/view-cart" method="GET">
      <button type="submit" class="a1">View Cart</button>
    </form>
  </nav>
   </nav>  

    <!-- <nav class="cat">
      <div class="dropdown">
        <button class="dropbtn" id="d1">Men's Fashion</button>
        <div class="dropdown-content">
          <br><a href="#">Formal Shirts</a><br><br>
          <a href="#">T-shirts</a><br><br>
          <a href="#">Jeans</a><br><br>
          <a href="#">Shoes</a><br><br>
          <a href="#">Bags</a><br><br>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="d2">Women's Fashion</button>
        <div class="dropdown-content">
          <br><a href="#">Sarees</a><br><br>
          <a href="#">Ethnic Wear</a><br><br>
          <a href="#">Shoes</a><br><br>
          <a href="#">Bags</a><br><br>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="d3">Kid's Fashion</button>
        <div class="dropdown-content">
          <br><a href="#">T-shirts</a><br><br>
          <a href="#">Jeans</a><br><br>
          <a href="#">Ethnic Wear</a><br><br>
          <a href="#">Shoes</a><br><br>
          <a href="#">Bags</a><br><br>
        </div>
      </div>
    </nav> -->



    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://media.gq.com/photos/654cf61bafc40d805fba35cf/16:9/w_1280,c_limit/best-t-shirts-for-men.jpg" style="width: 100%;">
        <div class="text">Men's Shirt</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img
          src="https://www.bombayshirts.com/cdn/shop/collections/1120x1200-collection-mens-shirts-custom-made-formal-shirts.jpg?v=1685700711" style="width: 100%;">
        <div class="text">Shirt</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img
          src="https://cdn.thewirecutter.com/wp-content/uploads/2020/04/messengerbag-lowres-2x1-2.jpg?auto=webp&quality=75&crop=2:1&width=1024" style="width: 100%;">
        <div class="text">Bags</div>
      </div>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <h1>Men's T-Shirts</h1>
    <div class="scrollmenu">
      <% menTshirts.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Men's Formal Shirts</h1>
    <div class="scrollmenu">
      <% menFormalshirts.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Men's Jeans</h1>
    <div class="scrollmenu">
      <% menJeans.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Men's Shoes</h1>
    <div class="scrollmenu">
      <% menShoes.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Women's Bags</h1>
    <div class="scrollmenu">
      <% womenBags.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Women's Ethnic Wear</h1>
    <div class="scrollmenu">
      <% womenEthnicwear.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Women's Footwear</h1>
    <div class="scrollmenu">
      <% womenFootwear.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Women's Sarees</h1>
    <div class="scrollmenu">
      <% womenSarees.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Boys T-Shirts</h1>
    <div class="scrollmenu">
      <% boysTshirts.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Boys Ethnic Wear</h1>
    <div class="scrollmenu">
      <% boysEthnicwear.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Boys Jeans</h1>
    <div class="scrollmenu">
      <% boysJeans.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Girls Ethnic Wear</h1>
    <div class="scrollmenu">
      <% girlsEthnicwear.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>

    <h1>Girls Frock</h1>
    <div class="scrollmenu">
      <% girlsFrock.forEach(element=> { %>
        <a href="/product/:<%= element.pid %>"><img src="prodimg/<%= element.filename %>" alt="image"><br>View
          &rAarr;</a>
        <% }); %>
    </div>


    <script src="js/index.js">
    </script>
</body>

</html>